<a href="https://colab.research.google.com/github/sameer-kashyap/kuinbee-data-trust-pipeline/blob/main/dummy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/silver_price_forecast_2026.csv')

In [3]:
print(df.head())

         Date  Predicted_Price  Lower_Bound  Upper_Bound
0  2026-01-02            52.43        48.38        56.64
1  2026-01-05            52.64        48.49        56.84
2  2026-01-06            52.63        48.75        57.01
3  2026-01-07            52.67        48.39        56.62
4  2026-01-08            52.55        48.18        56.60

In [4]:
print(df.shape)

(85, 4)

In [5]:
print(df.columns)

Index(['Date', 'Predicted_Price', 'Lower_Bound', 'Upper_Bound'], dtype='object')

In [6]:
print(df['Predicted_Price'].mean())

51.105411764705885

In [7]:
df.describe()

       Predicted_Price  Lower_Bound  Upper_Bound
count        85.000000    85.000000    85.000000
mean         51.105412    46.919529    55.255882
std           0.932131     0.946931     0.984584
min          48.960000    44.570000    52.880000
25%          50.350000    46.190000    54.600000
50%          51.270000    46.990000    55.380000
75%          51.750000    47.620000    55.920000
max          52.670000    48.750000    57.010000

In [8]:
import json
data = {'score': 95.5, 'status': 'pass'}
with open('result.json', 'w') as f:
    json.dump(data, f, indent=2)

In [10]:
with open('result.json', 'r') as f:
    loaded = json.load(f)
    print(loaded)

{'score': 95.5, 'status': 'pass'}

In [11]:
# Function
def calculate_percentage(part, total):
    """Calculate percentage with validation"""
    if total == 0:
        return 0
    return (part / total) * 100

# Class
class Scorer:
    def __init__(self, name):
        self.name = name
        self.score = 0

    def calculate(self, data):
        self.score = sum(data) / len(data)
        return self.score

# Usage
scorer = Scorer("Quality")
result = scorer.calculate([90, 95, 88])
print(f"{scorer.name}: {result}")

Quality: 91.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             85 non-null     object
 1   Predicted_Price  85 non-null     float64
 2   Lower_Bound      85 non-null     float64
 3   Upper_Bound      85 non-null     float64
dtypes: float64(3), object(1)
memory usage: 2.8+ KB

In [13]:
df.isnull().sum()  # Count nulls

Date               0
Predicted_Price    0
Lower_Bound        0
Upper_Bound        0
dtype: int64

In [14]:
# Example: Prices should be > 0
invalid = df[df['Predicted_Price'] < 0]
accuracy = 1 - (len(invalid) / len(df))
print(accuracy)

1.0

In [15]:
duplicates = df.duplicated().sum()
uniqueness = 1 - (duplicates / len(df))
print(uniqueness)

1.0

In [16]:
import numpy as np
from scipy import stats

In [17]:
mean = np.mean(df['Predicted_Price'])
print(mean)

51.105411764705885

In [18]:
# 1. Select only numeric columns (floats and integers)
numeric_df = df.select_dtypes(include='number')

In [21]:
stats=numeric_df.agg(['min', 'mean', 'median','std'])
print(stats)

        Predicted_Price  Lower_Bound  Upper_Bound
min           48.960000    44.570000    52.880000
mean          51.105412    46.919529    55.255882
median        51.270000    46.990000    55.380000
std            0.932131     0.946931     0.984584

In [27]:
from scipy import stats as st
z_scores = st.zscore(df['Predicted_Price'])
outliers = abs(z_scores) > 3
print(outliers)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False]

In [28]:
scores = {
    'quality': 96.36,
    'legal': 98.10,
    'provenance': 90.85,
    'usability': 91.60,
    'freshness': 91.50
}

weights = {
    'quality': 0.30,
    'legal': 0.25,
    'provenance': 0.20,
    'usability': 0.15,
    'freshness': 0.10
}

kdts = sum(scores[k] * weights[k] for k in scores)
print(f"KDTS: {kdts:.2f}")

KDTS: 94.49